.bar { 
    padding: 10px;
    background-color: #3a3633;
    align-items: center;
    justify-content: center;
    display: flex;
}

.apple {
    display: block;
}

body {
    margin: 0;
}

.bar > a {
    color: white;
    text-decoration: none;
    margin: 0 40px;
    font-family: "Poppins", sans-serif;
    transition: opacity 0.2s ease-in-out;
}

.bar > a:hover {
    opacity: 0.5;
}