.container {
    min-height: 100vh;
    font-family: Poppins, sans-serif;
}

.bar {
    background-color: black;
    color: white;
    height: 50px;
}

.content {
    min-height: calc(100vh - 100px);
}

body {
    margin: 0;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}